.right{
  float:left;
  width: 75%;
}
body{
  background-color: #ccffff;
  font-size: 20px
  
}
.name{
  width: 100%;
}
.left{
  float: right;
  padding: 1%;
  width: 25%;
  
  }
h1{
border-radius: 25px;
}
h2{
  border-radius: 25px;
}
td,th{
  border: 2px solid black;
}
.cv{
  display: flex;
  
}
img {
  border-radius: 50px;
}